p {
    color:aquamarine;
    text-align:center;
}
style{
    background-color: black;
    
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: normal;
}


